* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}

html,
body {
  height: auto;
  width: 100%;
  place-items: center;
}

.body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 550px 1fr 120px;
  grid-template-areas:
    "header header "
    "sidebar section "
    "footer footer";
}

.header {
  grid-area: header;
  border: solid 2px black;
  background-color: #323233;
  width: 100%;
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.img {
  width: 200px;
}

.containerpersonne1 {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.containerpersonne2 {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.containerpersonne3 {
  background: transparent;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.prénom,
.sitegénéalogie {
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 35px;
  padding-bottom: 2px;
  color: #fff;
}

.titre.site {
  font-size: 35px;
  background: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.sitegénéalogie {
  font-size: 35px;
  padding-bottom: 26px;
  color: #ffff;
}

.btn-group-lg > .btn,
.btn-lg {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 8rem;
}

button {
  margin-left: 15px;
  color: #51fffb;
  margin-bottom: 119px;
  width: 80%;
  height: 100px;
}

.btn2,
btn1 {
  width: 100%;
}

.btn-success:hover {
  color: black;
  background-color: yellow;
  border-color: red;
  -webkit-box-shadow: 0px 1px 28px 15px rgba(243, 235, 235, 0.963);
  box-shadow: 0px 1px 28px 15px rgba(243, 235, 235, 0.963);
}

.btn-primary:hover {
  color: black;
  background-color: yellow;
  border-color: red;
  -webkit-box-shadow: 0px 1px 28px 15px rgba(0, 0, 0, 0.83);
  box-shadow: 0px 1px 28px 15px rgba(0, 0, 0, 0.83);
  -webkit-box-shadow: 0px 1px 28px 15px rgba(243, 235, 235, 0.963);
  box-shadow: 0px 1px 28px 15px rgba(243, 235, 235, 0.963);
}

.slidbar {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323233;
  grid-area: slidbar;
  border: solid 2px brown;
  display: flex;
  align-items: center;
  width: 10vw;
  height: calc(100vh - 360px);
  grid-area: 2 / 1 / 2 / 3;
}

.introduction {
  background: transparent;
  position: absolute;
  top: 40%;
  left: 30%;
}

.intro {
  background: transparent;
  width: 40lh;
  height: 40vh;
  border-radius: 20px;
  border: solid rebeccapurple;
  border-radius: 5 px;
  background: rgb(174, 221, 238);
  background: radial-gradient(
    circle,
    rgba(174, 221, 238, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  -webkit-box-shadow: 0px 4px 38px 3px #51fffb;
  box-shadow: 0px 1px 38px 14px #f3edf8;
  overflow: hidden;
  overflow-y: scroll;
}

p.paragraphe {
  background: transparent;
  color: #0a021c;
  padding: 30px;
  font-size: 2rem;
  font-weight: 500;
  width: 60vw;
  height: 60vh;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #504702c8;
  grid-area: 3 / 1 / 4 / 3;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}

.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #4267b2;
}

.wrapper .button:nth-child(2) span {
  color: #1da1f2;
}

.wrapper .button:nth-child(3) span {
  color: #e1306c;
}

.wrapper .button:nth-child(4) span {
  color: #333;
}

.wrapper .button:nth-child(5) span {
  color: #ff0000;
}

@media screen and (max-width: 414px) {
  .parent {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 150px 3fr 100px 150px;
    gap: 5px;
  }

  .img {
    width: 55px;
  }

  .prénom,
  .sitegénéalogie {
    font-size: 15px;
    padding-bottom: 2px;
    color: #4e2a50;
  }

  /* .slidbar {
    
    display: flex;
    align-items: center;
    width: auto;
    height:100px;
    background: #e089a9;
    grid-area: 2 / 1 / 4 / 3;
    flex-direction:row;
    justify-content: center;
  } */

  /* .introduction, .btn-primary {
     height:500px;
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    

  } */

  .slidbar {
    width: 120px;
    background-color: #a33265;
  }

  .parent {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 100px 3fr 200px;
  }

  .header {
    background-color: #a33265;
    width: 100%;
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    margin-left: -17px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }

  .prénom {
    color: #fff;
  }

  .introduction {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  .intro {
    width: 300px;
  }

  div > .titre.site {
    display: none;
  }

  .personne3 {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  .footer {
    width: 150px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: #a33265;
    grid-area: 3 / 1 / 4 / 3;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
  }
}
